.DriverApplication-container {
  padding: 20px;
  text-align: center;
  overflow-x: hidden;
}

.DriverApplication-title {
  text-align: center;
  font-size: 2.5em;
  padding: 1.1em;
  color: #344ea1;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.DriverApplication-boxes {
  display: grid;
  grid-template-columns: repeat(2, max-content); 
  justify-content: center;
  column-gap: 50px; 
  row-gap: 50px; 
  align-items: center;
}

.DriverApplication-box {
  background-color: #cff5ff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  max-width: 450px; 
  margin: 0; 
  padding: 0; 
}

.DriverApplication-image {
  width: 100%; 
  height: auto;
  margin: 0; 
  padding: 0; 
}

.DriverApplication-boxTitle {
  font-size: 1.2em;
  margin: 0;
  padding: 1em; 
  color: #344ea1;
}

@media (max-width: 768px) {
  .DriverApplication-boxes {
    grid-template-columns: 1fr; 
    row-gap: 20px;
  }
  
  .DriverApplication-title {
    font-size: 1.5em;
  }
  
  .DriverApplication-boxTitle {
    font-size: 1.2em;
    padding: 0.5em;
  }
}
